* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.background {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, rgb(32, 42, 100) 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%,
		linear-gradient(135deg, rgb(122, 93, 141) 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%,
		linear-gradient(225deg, rgb(71, 96, 116) 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%,
		rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(102, 121, 202) 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;
}
